<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TripList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
	<h1>Add Place</h1>
	<div>
		<form th:object="${day}" th:action="@{saveDay}" action="#" method="post">
		  	<label for="date">Date</label>
			<input type="text" id="date" th:field="*{date}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="tiplist">Trip</label>
			<select id="triplist" th:field="*{trip}" class="form-control">
				<option th:each="trip: ${trips}"
						th:value="${trip.id}"
						th:text="${trip.name}"> </option>
			</select>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input class="btn btn-success" type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>